<!--====================== Start edit =====================-->
<div class="col col-m-12 col-t-6 col-d-4 box-item f-mockup animated zoomIn">
    <div class="image">
        <a href="#popup-16" class="has-popup"><img src="assets/images/works/brand-ly.PNG" alt="" /></a>
    </div>
    <div class="content-box">
        <div class="category">Brands</div>
        <a href="#popup-16" class="name has-popup">Realistic Business PSD to HTML</a>
        <p>
            Realistic Brand template...
        </p>
    </div>
    <div id="popup-16" class="popup-box mfp-fade mfp-hide">
        <div class="content">
            <div class="image">
                <img src="assets/images/works/bran-ly2.PNG" alt="">
            </div>
            <div class="desc">
                <div class="category">Brands</div>
                <h4>Realistic Business PSD to HTML</h4>
                <p>
                    PSD to Html with bootstrap.
                </p>
                <a href="https://vcshahriyer.github.io/BrandLy.me/" class="btn btn_animated"><span class="circle">View Project</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col col-m-12 col-t-6 col-d-4 box-item f-graphic animated zoomIn floatright">
    <div class="image">
        <a href="#popup-17" class="has-popup"><img src="assets/images/works/omnifood.PNG" alt="" /></a>
    </div>
    <div class="content-box">
        <div class="category">Restaurant</div>
        <a href="#popup-17" class="name has-popup">Omnifood Restaurant</a>
        <p>
            Restaurant template width custom css...
        </p>
    </div>
    <div id="popup-17" class="popup-box mfp-fade mfp-hide">
        <div class="content">
            <div class="image">
                <img src="assets/images/works/omnifood2.PNG" alt="">
            </div>
            <div class="desc">
                <div class="category">Restaurant</div>
                <h4>The Omnifood Restaurant</h4>
                <p>
                    Restaurant template width custom css...
                </p>
                <a href="https://vcshahriyer.github.io/Custom_Omnifood/" class="btn btn_animated"><span class="circle">View Project</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col col-m-12 col-t-6 col-d-4 box-item f-mockup animated zoomIn">
    <div class="image">
        <a href="#popup-18" class="has-popup"><img src="assets/images/works/wego-chem.PNG" alt="" /></a>
    </div>
    <div class="content-box">
        <div class="category">Brands</div>
        <a href="#popup-18" class="name has-popup">Industry PSD to HTML</a>
        <p>
            Chemical Industry PSD to html template...
        </p>
    </div>
    <div id="popup-18" class="popup-box mfp-fade mfp-hide">
        <div class="content">
            <div class="image">
                <img src="assets/images/works/wego2.PNG" alt="">
            </div>
            <div class="desc">
                <div class="category">Brands</div>
                <h4>Industry PSD to HTML</h4>
                <p>
                    Chemical Industry PSD to html template...
                </p>
                <a href="https://vcshahriyer.github.io/Wego-chem/" class="btn btn_animated"><span class="circle">View Project</span></a>
            </div>
        </div>
    </div>
</div>
<!--====================== End edit =====================-->