body{
    background-color: #e0ebe8;
}
.navbar{
    padding: 1rem 0;
}
.nav-item a{
    font-size: 20px;
}
.logo img{
    width: 100px;
    height: 100px;
}
.mountain{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-20%);
    
}
.mountain img{
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
.shadow{
    content: "";
    height: 35px;
    width: 90px;
    position: absolute;
    left: 0;
    top: 90%;
    border-radius: 50%;
    animation: shadowSize 6s ease-in-out infinite;
}

.hero-text{
    font-size: 2.8em;
    font-weight: 800;
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    position:absolute;
    top: 135px;
    width: 100%;
    text-align: center;
}
.typejs{
    color: #cd132f;
}


/*  =========== Keyframe for animation ============*/
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@-webkit-keyframes shadowSize {
    0%   { width:130px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
    50%  { width:100px; opacity:0.3; box-shadow:200px 0 30px rgba(0,0,0,0.3);}
    100% { width:130px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
}


@media only screen and (max-width: 1920px) and (min-width: 1501px){
    .shadow{
        left: 20%;
    }
    .nav-item{
        padding-right: 30px;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 781px){
    .hero-text{
        font-size: 2.3em;
    }
    .mountain{
        width: 53%;
    }
    .shadow{
        left: 2.6rem;
    }

}
@media only screen and (max-width: 780px) and (min-width: 481px){
    .mountain{
        width: 55%;
    }
    .logo img{
        width: 90px;
        height: 90px;
    }
    .hero-text{
        font-size: 2.2em;
    }
    .shadow{
        left: -2rem;
    }
    
    @-webkit-keyframes shadowSize {
        0%   { width:90px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
        50%  { width:60px; opacity:0.3; box-shadow:200px 0 30px rgba(0,0,0,0.3);}
        100% { width:90px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px){
    .mountain{
        width: 80%;
        top: 62%;
    }
    .shadow{
        left: -1.4rem;
    }
    .logo img{
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }
    .hero-text{
        font-size: 1.6em;
    }
    @-webkit-keyframes shadowSize {
        0%   { width:90px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
        50%  { width:60px; opacity:0.3; box-shadow:200px 0 30px rgba(0,0,0,0.3);}
        100% { width:90px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
    }
}
