body{
    overflow-x: hidden
}
h1{font-size: 1.5em}
header{background-color: #e0ebe8;}
svg path,svg line,svg polyline {
    stroke: #fffcfd;
    stroke-width: 1px;
}

svg path {
    fill: transparent;
}
.preloader{
    width: 100%;
    height: 100vh;
    background: #E44D26;  
    background: -webkit-linear-gradient(to right, #F16529, #E44D26); 
    background: linear-gradient(to right, #F16529, #E44D26);
    z-index: 9999;
    position: fixed;
}
.preloader svg{
    width: 100%;
    height: 100%;
}
.svg-img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav-item a{
    font-size: 20px;
}
.logo img{
    width: 100px;
    height: 100px;
}
.mountain{
    width: 30%;
    margin: 50px auto;
    margin-bottom: 0;
    position: relative;
}
.mountain img{
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
.shadow{
    content: "";
    height: 35px;
    width: 90px;
    position: absolute;
    left: 0;
    top: 90%;
    border-radius: 50%;
    animation: shadowSize 6s ease-in-out infinite;
}

.hero-text{
    font-size: 2em;
    font-weight: 800;
    color: #414141;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    line-height: .25em;
}
.tp_color{
    color: #c90f31;
}
.typejs{
    font-size: .8em;
}

.up,.up img,.down,.down img{
    width: 150px;
}
.up{
    position: absolute;
    right: 16px;
    top: 20px;
    transform: rotate(-13deg)
}

.down{
    position: absolute;
    right: -84px;
    bottom: 140px;
    transform: rotate(-10deg)
}
.front_end{
    position: absolute;
    right: -55px;
    top: 10px;
    animation: float 6s ease-in-out infinite;
}
.back_end{
    position: absolute;
    bottom: 160px;
    right: -150px;
    animation: float 6s ease-in-out infinite;
}
/*  ============== About me section =============*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323840;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.me-dev {
    width: 290px;
    margin: 0px auto;
    padding-bottom: 45px;
}
.me-dev2{
    width: 290px;
    padding-bottom: 45px;
}
.my-description {
    text-align: center;
    width: 45%;
    height: 35%;
    border-radius: 13px;
}
.my-description2 {
    text-align: center;
    width: 45%;
    height: 35%;
    border-radius: 13px;
}
.my-description h2,
.my-description2 h2,
{
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: .06em;
}
div.callout {
	background-color: #444;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: relative;
	color: #ccc;
	padding: 10px;
	border-radius: 3px;
	min-height: 50px;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}
.callout.right::before {
	left: -20px;
	top: 40%;
	border-right: 10px solid #444;
}
.callout.left::before {
	right: -20px;
	top: 40%;
	border-left: 10px solid #444;
}

/*  =========== Keyframe for animation ============*/
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@-webkit-keyframes shadowSize {
    0%   { width:130px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
    50%  { width:100px; opacity:0.3; box-shadow:200px 0 30px rgba(0,0,0,0.3);}
    100% { width:130px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
}

/* =============== Media Query =====================*/

@media only screen and (max-width: 1920px) and (min-width: 1024px){
    .nav-item{
        padding-right: 30px;
    }
    .up{right: -15px;top: 10px}
    .front_end{right: -85px;top: 0}
}

@media only screen and (max-width: 1024px) and (min-width: 769px){
    .hero-text{
        font-size: 2.3em;
    }
    .mountain{
        width: 53%;
    }
    .shadow{
        left: 15%;
    }
    .up{right: -5px;}
    .front_end{right: -75px;}
}


@media only screen and (max-width: 768px) and (min-width: 481px){
    .mountain{
        width: 55%;
    }
    .logo img{
        width: 90px;
        height: 90px;
    }
    .hero-text{
        font-size: 2.1em;
    }
    .up{right: -5px;}
    .front_end{right: -75px;}
    @-webkit-keyframes shadowSize {
        0%   { width:110px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
        50%  { width:80px; opacity:0.3; box-shadow:200px 0 30px rgba(0,0,0,0.3);}
        100% { width:110px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
    }
    .my-description h2 {font-size: 16px;}
    .my-description {
        width: 48%;
        height: 63%;
    }
    .me-dev {width: 225px;}
}


/* ================== Blackberry Passport except stock browser ================*/

@media only screen and (max-width: 480px) and (min-width: 321px){
    .mountain{
        width: 50%;
        margin-top: 25px;
    }
    .logo img{
        width: 80px;
        height: 80px;
        margin-left: 25px;
    }
    .hero-text{
        font-size: 1.2em;
        top: 80px;
    }
    h1{font-size: 1.2em}
    @-webkit-keyframes shadowSize {
        0%   { width:65px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
        50%  { width:45px; opacity:0.3; box-shadow:200px 0 30px rgba(0,0,0,0.3);}
        100% { width:65px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
    }
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-10px);
        }
        100% {
            transform: translatey(0px);
        }
    }
    .up,.up img,.down,.down img{
        width: 60px;
    }    
    .up{
        right: 28px;
        top: 15px;
    }

    .down{
        right: 12px;
        bottom: 50px;
    }
    .front_end{
        right: -45px;
        top: 12px;
    }
    .back_end{
        bottom: 55px;
        right: -55px;
    }
    .shadow{left: -70px;top: 85%}
    .logo img {padding-top: 12px;}
    .me-dev{width: 130px}
    .my-description {
        width: 63%;
        height: 88%;
        top: 60%;
        left: 34%;
    }
    .me-dev {left: 2%}
    .my-description h2 {font-size: 12px;}
}
 
/*=================== iphone 5s portait ============*/

@media only screen and (max-width: 320px) and (min-width: 220px){
    .logo img{
        width: 70px;
        height: 70px;
        margin-left: 25px;
    }
    .hero-text{font-size: 1.2em}
    .mountain{
        width: 70%;
        margin-top: 10px;
    }
    .up, .up img, .down, .down img {
	    width: 50px;
    }
    .up {
        right: 35px;
        top: 9px;
    }
    .front_end {
        right: -20px;
        top: 10px;
        font-size: 12px;
    }
    .down {
        right: 45px;
        bottom: 20px;
    }
    .back_end {
        position: absolute;
        bottom: 28px;
        right: -5px;
        animation: float 6s ease-in-out infinite;
        font-size: 12px;
    }
    .shadow{
        left: -90px;
        top: 85%
    }
    @-webkit-keyframes shadowSize {
        0%   { width:65px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
        50%  { width:45px; opacity:0.3; box-shadow:200px 0 30px rgba(0,0,0,0.3);}
        100% { width:65px; opacity:.5;   box-shadow:200px 0 10px rgba(0,0,0,0.4);}
    }
}